<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/register.css" />
  </head>
  <body>
    <h1>회원가입</h1>
    <form class="register-box" action="">
      <div class="userName-box">
        <label for="userName">이름: </label>
        <input type="text" id="userName" name="userName" />
      </div>
      <div class="userId-box">
        <label for="userId">아이디: </label>
        <div class="alert-comment"></div>
        <input type="text" id="userId" name="userId" />
      </div>
      <div class="userPwd-box">
        <label for="userPwd">비밀번호: </label>
        <input type="password" id="userPwd" name="userPwd" autocomplete="off" />
      </div>
      <div class="userAddr-box">
        <label for="userAddr">주소: </label>
        <input type="text" id="userAddr" name="userAddr" />
      </div>
      <div class="userPhone-box">
        <label for="userPhone">전화번호: </label>
        <input type="text" id="userPhone" name="userPhone" />
      </div>
      <div class="userEmail-box">
        <label for="userEmail">이메일: </label>
        <input type="email" id="userEmail" name="userEmail" />
      </div>
      <button type="submit">회원가입</button>
    </form>
    <script>
      // js 정규표현식 메서드 match, replace, split, test, exec
      const idValidation = (str) => {
        const isUserId = /^[a-z\d]{5,20}$/g.exec(str);
        if (!isUserId) {
          return false;
        }
        return true;
      };
      const inputUserId = document.querySelector("#userId");
      inputUserId.addEventListener("focusout", function () {
        const user_id = this.value;
        console.log("포커스 아웃", this.value);
        if (user_id.trim().length === 0) {
          document.querySelector(".alert-comment").innerText =
            "필수 입력란 입니다";
          return;
        } else if (!idValidation(user_id)) {
          document.querySelector(".alert-comment").innerText =
            "영문(소문자)숫자, 5~20자리로 작성해주세요";
          return;
        }
        const data = fetch("/register/userName", {
          method: "POST",
          headers: { "content-type": "application/json" },
          body: JSON.stringify({ user_id }),
        })
          .then((res) => res.json())
          .then((res) => {
            document.querySelector(".alert-comment").innerText = res.message;
            console.log(res.message);
          });
      });

      const registerBox = document.querySelector(".register-box");
      registerBox.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = {
          user_name: document.querySelector("#userName").value,
          user_id: document.querySelector("#userId").value,
          user_pwd: document.querySelector("#userPwd").value,
          user_addr: document.querySelector("#userAddr").value,
          user_phone: document.querySelector("#userPhone").value,
          user_email: document.querySelector("#userEmail").value,
        };
        console.log(JSON.stringify(formData));
        const data = fetch("/register", {
          method: "POST",
          headers: { "content-type": "application/json" },
          body: JSON.stringify(formData),
        })
          .then((res) => res.json())
          .then((res) => console.log(res.message));
      });
    </script>
  </body>
</html>
